.container{
    background-color: rgb(39, 53, 92) !important;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background-color: rgb(39, 53, 92) !important;
    font-family: 'Roboto';
}
.question-footer{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.422);
    align-items: center;
    padding-top: 12px;
}
.quiz-card{
    width: 30rem;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    
}

.quizAnswerCard:hover{
cursor: pointer;
background-color: rgba(0, 0, 0, 0.053);
}

.bg-danger, .bg-success{
    color: white !important;
}

.endImage{
    width: 100%;
}

.textAlignCenter{
    text-align: center;
}

.textSize30{
    font-size: 30px;
}

.btnRestart{
    display: flex;
    justify-content: center;
    margin-top: 24px;
}